.main {
  background-color: rgb(249 247 236 / 1);
  flex: 1 1;
}

.banner {
  --shadow: 0 2px 3px 0 rgb(168 151 56 / 1);
  position: fixed;
  top: 3.25rem;
  right: 0.75rem;
  border-radius: 0.25rem;
  background-color: rgb(255 200 50 / 1);
  z-index: 20;
}

.banner:hover {
  box-shadow: var(--shadow);
}

.banner a {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1rem;
  font-size: 1rem;
}

.banner svg {
  width: 24px;
  height: 24px;
}
